<form method='POST' action='/mugs'>
    <fieldset>
    <legend>{{ title }}</legend>
    <!-- Mug Name -->
    <p>
        <label for='mug_name'>Mug Name</label><br>
        <input id="mug_name" type='text' name='mug_name' required/>
    </p>

    <!-- Description -->
    <p>
        <label for='description'>Description</label><br>
        <input id ="description" type='text' name='description' required/>
    </p>

    <!-- Price -->
    <p>
        <label for='price'>Price</label><br>
        <input id="price" type='number' name='price' required/>
    </p>

    <!-- color -->
    <p>
        <label for='color'>Color</label><br>
        <input  type='radio' name='color' value= "blue"/required> Blue
        <input  type='radio' name='color' value= "purple"/requiredrequired> Purple
        <input  type='radio' name='color' value= "green"/required> Green
        <input  type='radio' name='color' value= "yellow"/requiredrequired> Yellow
        <input  type='radio' name='color' value= "pink"/required> Pink
    </p>

    
    </fieldset>

    <!-- BUTTON -->
    <p>
        <button class="btn btn-primary" type='submit'>Save Mug</button>
        <!-- Cancel button -->
        <!-- <button><a href="">Cancel</a></button> -->
    </p>
</form>